.connect__four__box {
    justify-content: center;
    display: flex;
}

.connect__four__cell {
    display: flex;
    height: 50px;
    width: 50px;
}

.connect__four__cell>div {
    margin: auto;
    text-align: center;
    justify-content: center;
}

.connect__four__iconbutton__style {
    height: 50px;
    width: 50px;
}

.connect__four__Reset__button {
    width: 150px;
}

.connect__four__game__mode__button {
    margin-left: 10px;
    width: 75px;
}

.connect__four__button__area {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

.connect__four__message__container {
    height: 75px;
}

.connect__four__message__box {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.connect__four__message__box>div {
    display: flex;
    align-items: center;
}

.connect__four__description {
    width: 80%;
}

.connect__four__results {
    margin-top: 10px;
}

span+span {
    margin-left: 10px;
}

.connect__four__stats__headline {
    text-align: center;
    width: 280px;
}

.test {
    border: solid green;
}