.connect__four__box {
    justify-content: center;
    display: flex;
}

.connect__four__cell {
    display: flex;
    height: 50px;
    width: 50px;
}

.connect__four__cell>div {
    margin: auto;
    text-align: center;
    justify-content: center;
}

.connect__four__iconbutton__style {
    height: 50px;
    width: 50px;
}

.connect__four__Reset__Button {
    margin: auto;
    margin-top: 10px;
    width: 250px;
}

.connect__four__message__container {
    height: 75px;
}

.connect__four__message__box {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.connect__four__message__box>div {
    display: flex;
    align-items: center;
}

.connect__four__description {
    width: 80%;
}