.impressum__base__container {
    max-width: 800px;
    margin: 0 auto;
}

.impressum__base__language {
    margin-top: 20px;
    margin-bottom: 20px;
}

.impressum__language__slider {
    display: flex;
    margin: 0 auto;
}