.container__user {
    float: right;
    border: 1px solid;
    max-width: 100%;
    border-radius: 10px;
    padding: 15px;
    justify-content: center;
}

.container__user>h2 {
    border-bottom: 1px solid black;
    text-align: center;
}

.change__nickname {
    margin: 0 auto;
    text-align: left;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.change__nickname>Button {
    width: 100%;
}

.change__password__section {
    margin: 0 auto;
    text-align: left;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.change__password__section>Button {
    width: 100%;
}

.container__user>p {
    text-align: center;
}

.delete__profile {
    margin: 0 auto;
    text-align: left;
    width: 250px;
    margin-bottom: 10px;
}

.middleline {
    margin-top: 10px;
    border-bottom: 1px solid black;
}

.delete__profile>Button {
    margin-top: 20px;
    width: 100%;
}

.table__container {
    height: 663px;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid;
    overflow: 'auto';
}

.table__container>h2 {
    text-align: center;
    border-bottom: 1px solid black;
}

.tableContainer {
    max-height: 500px;
}

.input__user__self_service {
    width: 250px;
}