.login__table__container {
    margin: 0 auto;
    width: 660px;
    height: 640px;
    text-align: center;
}

.MuiDataGrid-columnsContainer {
    background-color: lightgrey;
}

.view__header {
    margin-bottom: 10px;
}

.search__bar__view {
    width: 80%;
}