.startpage {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 500px;
}

.view__header {
    margin-bottom: 10px;
}

.search__bar__view {
    width: 80%;
}

.management__header {
    margin-bottom: 10px;
}

.search__bar__management {
    width: 40%;
}