.startpage {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 500px;
}

.view__header {
    margin-bottom: 10px;
}

.search__bar__view {
    width: 80%;
}

.management__header {
    margin-bottom: 10px;
}

.search__bar__management {
    width: 40%;
}

.trigger__build__button {
    color: red;
    font-weight: bold;
}

.management__container {
    margin-right: 20px;
}