.modal__create__role {
    margin: 0 auto;
    text-align: left;
    width: 800px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.modal__create__role>Button {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 102%;
}

.input__field__name {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input__field__desciption {
    width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
}