.modal__change__passsword {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.input__password__modal {
    width: 220px;
}

.modal__change__passsword>Button {
    margin-top: 10px;
    width: 220px;
}

.change__roles__user__modal {
    max-width: 1200px;
}