.password__check__container {
    border: solid black 1px;
    padding: 5px;
    border-radius: 5px;
    
}

.password__validity__check {
    display: flex;    
}

.display__single__check{
    margin-left: 5px;
    align-items: center;
    justify-content: left;
}