.footer {
    background-color: #6b8795;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__entity {
    text-decoration: none;
    font: 18px 'Arial';
    color: black;
}

.modal__footer {
    width: 350px;
    text-align: center;
}

.modal__footer__send {
    width: 150px;
}

.modal__footer__textfield {
    width: 100%;
}