.footer {
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-top: rgb(160, 155, 155) solid 1px;
}

.footer__entity {
    text-decoration: none;
    font: 14px 'Arial';
    margin-left: 15px;
    color: rgb(160, 155, 155);
}

.modal__footer {
    width: 350px;
    text-align: center;
}

.modal__footer__send {
    width: 150px;
}

.modal__footer__textfield {
    width: 100%;
}