.header {
    background-color: #6b8795;
    display: flex;
    align-items: center;
    position: sticky;
    height: 50px;
    border-radius: 3px;
}

.header__Nav {
    display: flex;
    width: 100%;
    justify-content: left;
}

.header__link {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font: 22px 'Arial';
}

.user__icon {
    display: flex;
    align-items: right;
    margin-right: 20px;
    height: 35px;
}

.header__user {
    display: flex;
}

.menu__link__header {
    color: black;
    text-decoration: none;
}

.header__username {
    margin-right: 20px;
    font: 18px 'Arial';
}