.homescreen {
  display: flex;
  align-content:  center;
  justify-content: center;
}

.homescreen_title {
  margin-left: -49px;
  margin-bottom: 10px;
  display: flex;
  align-content:  center;
  justify-content: center;
}

.input__write__post {
  resize: none;
  font: 18px 'Fira Sans', sans-serif;  
}

.page__number {
  display: flex;
  margin-top: 25px;
  margin-left: 10;
  font: 18px 'Fira Sans', sans-serif;  
}
