h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__delete {
    text-align: center;
    width: 300px;
}

.modal__delete>div {
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: solid lightgrey;
}

.modal__delete>Button {
    margin: 0 auto;
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 50%;
}