.reset__container {
  margin-top: 50px;
  border: 1px solid;
  padding: 1px;
  height: 280px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset__input__label {
  display: flex;
  margin-left: 65px;
  margin-top: 10px;
  font: 15px 'Fira Sans', sans-serif;
}

.reset__input__field {
  margin-top: 5px;
  width: 160px;
  height: 20px;
  margin-bottom: 10px;
}

.reset__button {
 
  width: 168px;
}