.posts {
    padding: 15px;
    min-width: 55%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
}

.write__posts {
    text-align: center;
    width: 100%;
}

.input__post {
    width: 100%;
}

.write__posts>Button {
    margin-top: 15px;
    margin-bottom: 10px;
    min-width: 100px;
    width: 75%;
}

.home__description__container {
    display: flex;
}

.home__move__button {
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description__add__new {
    text-align: center;
}